<%= render 'navbar-2' %>
<% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>
<div class="carousel-container">

  <h1 class="mb-4 text-center"><%= @art_piece.title %></h1>
  <div class="row">
    <div class="col-12 col-centered">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% @art_piece.photos.each_with_index do |photo, i| %>
            <div class="carousel-item <%= "active" if i.zero? %>">
              <%= cl_image_tag photo.key, crop: :fill, class:"img-show mt-4 mb-4" %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div class="booking-flex mb-4">
    <div class="row">
      <div class="details col-12 col-lg-12 mb-4">
        <div class="card-show border rounded">
          <h2 class="mt-1.5">Details</h2>
          <div class="mt-4">
            <p><strong>Artist: </strong><%= @art_piece.artist %> </p>
            <p><strong>Price: </strong><%= @art_piece.price %> € | month </p>
            <p><strong>Status: </strong>
              <% if @art_piece.availability %>
                <%= 'currently available ' %>
                <i class="fas fa-check" id="available"></i>
              <% else %>
                <%= 'We`re sorry, this piece is currently rented by someone else. ' %>
                <i class="fas fa-times" id="unavailable"></i>
              <% end %>
            </p>
            <p><strong>Offered by: </strong><%= "#{@art_piece.user.first_name}" %> </p>
            <p class="description">
              <strong>Description: </strong>
              <br>
              <%= @art_piece.description %>
            </p>
          </div>
          <div class="avatar">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/krokrob", class: "avatar-square", alt: "avatar-square" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="booking col-12 col-lg-12">
        <div class="card-show border rounded">
          <h2 id="<%= @booking_created ? 'booking' : nil %>">Book this masterpiece</h2>
          <div>
            <%= simple_form_for [@art_piece, @booking] do |f| %>
              <%= f.input :check_in %>
              <%= f.input :check_out %>
              <%= f.submit "Book masterpiece", class: "btn btn-flat-create" %>
            <% end %>
            <%= link_to "", art_piece_path(@art_piece), method: :get, id: "artpiece-link", class: "hidden" %>
            <%= link_to "", page_path(current_user), method: :get, id: "bookings-link", class: "hidden" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "footer" %>
