<%= render 'navbar' %>
<div id="background">

  <div id="form-wrapper">

    <div id="form1" class="my-3">

      <div class="login-title">
        <h1><strong>Log in</strong></h1>
      </div>

        <div class="container d-flex">

          <div class="container">

            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-inputs">
                <%= f.input :email,
                            required: false,
                            autofocus: true,
                            input_html: { autocomplete: "email" } %>
                <%= f.input :password,
                            required: false,
                            input_html: { autocomplete: "current-password" } %>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Log in", class:"btn btn-flat" %>
              </div>
            <% end %>

          </div>

        </div>

    </div>
    
    <div id="form2"class="my-3">

      <div class="login-title">
        <h1><strong>Sign up</strong></h1>
      </div>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :first_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "first name" }%>
            <%= f.input :last_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "last name" }%>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class:"btn btn-flat" %>
        </div>
        <% if @user.save %>
         <% sign_in(@user) %>   
          <% end %>

      <% end %>

    </div>

  </div>

</div>

<%= render 'footer' %>