<div class="container d-flex justify-content-center my-4">
  <div class="container">
    <div class="container art-piece-grid">
      <% @user.bookings.each do |booking| %>
        <div class="card-art-piece">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <% booking.art_piece.photos.each_with_index do |photo, i| %>
                <div class="carousel-item <%= "active" if i.zero? %>">
                <%= cl_image_tag photo.key, crop: :fill, class:"img-index" %>
                <%= link_to "", art_piece_path, class: "card-link img-index" %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="card-art-piece-infos">
          <div>
            <h2><%= booking.art_piece.title %></h2>
            <p><%= booking.art_piece.artist %>.</p>
              <div class="functional-buttons">
                <%= link_to booking, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fas fa-trash mr-2 mt-2"></i>
              <% end %>
              </div>
          </div>
          <h2 class="card-art-piece-pricing">
            <%= "Total: #{booking.price} €" %>
          </h2>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
