<%= render 'navbar-2' %>

  <div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1555420087-62ca236e0256?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2153&q=80);">
      <h2 style="font-size:35px">That's your profile page,
      <br>
      <br>
      <%= @user.first_name.capitalize%> <%= @user.last_name.capitalize  %></h2>
  </div>

<div class="container align text-center"><h2> Your art pieces </h2></div>

  <div class="container justify-content-center my-4">

    <div class="container">

        <div class="container art-piece-grid">
          <% @user.art_pieces.each do |art_piece| %>
        <div class="card-art-piece">

          <% if art_piece.photos.attached? %>
            <%= cl_image_tag art_piece.photos[0].key, crop: :fill, class:"img-index" %>
          <% else %>
            <img class="img-index" src="https://images.unsplash.com/photo-1581783342308-f792dbdd27c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1834&q=80"/>
          <% end %>

          <div class="card-art-piece-infos">
          
            <div>
              <h2><%= art_piece.title %></h2>
              <p><%= art_piece.artist %>.</p>
              <button data-toggle="modal" data-target="#exampleModal">
                Edit
              </button>
              <h2><%= link_to 'Delete', art_piece, method: :delete, data: { confirm: 'Are you sure?' } %></h2>
            </div>

            <h2 class="card-art-piece-pricing"><%= "#{art_piece.price} € | mth" %></h2>

          </div>
          <%= link_to "", art_piece_path(art_piece), class: "card-link" %>
          </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editing <%= art_piece.title %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= simple_form_for(art_piece) do |f| %>
                  <%= f.error_notification %>
                  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

                  <div class="form-inputs">
                    <%= f.input :title %>
                    <%= f.input :artist %>
                    <%= f.input :price %>
                    <%= f.input :description %>
                  </div>

                  <div class="modal-footer">
                  <div class="form-actions">
                    <%= f.button :submit, class: "btn btn-flat" %>
                  </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <% end %>
        
      </div>

    </div>

  </div>

  <div class="container text-center"><h2> Your bookings </h2></div>

    <div class="container d-flex  justify-content-center my-4">

    </div>
    

<%= render 'footer' %>
